article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	line-height: 3;
	text-align: center;
}

h1, h3 {
	font-family: 'Signika', sans-serif;
	font-weight: 300;
}

h2 {
	font-size: 65px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	letter-spacing: 10px;
	padding: 0;
	color: #000000;
}

h3 {
	font-size: 55px;
	text-align: left;
	padding: 0;
	margin: 0;
}

h4 {
	padding: 0;
	margin: 0;
	text-align: left;
	position: relative;
	top: -45px;
}

h5 {
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	margin: 0;
	padding: 0;
	text-align: left;
	color: #000000;
	position: relative;
	top: -40px;
}

h6 {
	font-size: 14px;
	font-weight: 400;
	position: relative;
	top: -30px;
	text-align: left;
}

p {
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 2px;
}

a {
	text-decoration: underline;
	color: black;
}

a:hover {
	background: #FFBF00;
}

span.bold {
	font-size: 25px;
	font-weight: 800;
	color: black;
	line-height: 2;
}

header {
	width: 100%;
	height: 100vh;
	background-image: url(../images/animation.gif);
	background-size: cover;
	background-position: center;
	padding-top: 100px;
	color: #000000;
	position: relative;
}

.headerNav {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	background-color: rgb(51, 50, 52);
	height: 475px;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
}

.headerNav a {
	color: #FFFFFF;
}

.burntTreeHeaderInfo p {
	color: #FFFFFF;
	margin: 0;
	padding: 10px;
	font-size: 10px;
	position: relative;
	top: -60px;
	font-weight: 400;
	line-height: 1;
}

.headerNav img {
	border: 40px solid #333234;
}

.navMenu p {
	text-transform: uppercase;
	display: inline-block;
	font-size: 10px;
	font-weight: 400;
	line-height: 0;
}

.headerNav i {
	color: white;
	position: relative;
	top: -70px;
}

.navMenu {
	display: none;
	position: relative;
	top: -90px;
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	background: #333234;
	padding: 20px;
}

ul.navMenu {
	margin: 0;
	list-style-type: none;
}

.headerNav:hover .navMenu {
	display: block;
}

.scrollDownPrompt {
	position: absolute;
	bottom: 5px;
	left: 46.5%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

.scrollDownPrompt i {
	font-size: 50px;
	color: white;
	text-shadow: 2px 2px darkgrey;
	margin: 0 auto;
}

.scrollDownPrompt a:hover {
	background: none;
}

.about {
	background: url(../images/background-ocean.jpg);
	margin: 0 auto;
	padding: 70px 20px 70px 20px;
	color: white;
}

.aboutWrapper {
	max-width: 500px;
	margin: 0 auto;
}

.wrapper {
	max-width: 800px;
	margin: 0 auto;
}

.about p, span, h2 {
	color: #FFFFFF;
	padding: 0;
	margin: 0;
}

.about .bold {
	color: #FFBF00;
}

.twitter {
	margin: 60px;
}

.twitter h5 {
	color: white;
}

.artists {
	background-color: #FFFFFF;
	margin: 0 auto;
	padding: 10px 0 10px;
	margin: 0 auto;
}

.artists h2 {
	color: #000000;
}

.artists p {
	text-align: left;
	line-height: 2.5;
	letter-spacing: 1px;
}

.artistWrapper {
	margin: 0 auto;
	max-width: 800px;
	padding-bottom: 30px;
}

.artistImage {
	float: left;
	max-width: 100%;
	width: 280px;
	margin: 30px;
	border-radius: 50%;
	box-shadow: 4px 3px 0px 0px rgba(217,213,217,1);
}

.artistDesription {
	width: 90%;
	margin: 0 auto;
	padding: 0;
	position: relative;
	top: -40px;
}

.consulting {
	width: 100%;
	background-color: white;
	padding: 10px 0 85px;
	margin: 0 auto;
	color: black;
}

.consulting h2 {
	color: black;
}

.consulting img {
	width: 180px;
	padding: 20px;
}

.consulting p {
	max-width: 530px;
	margin: 0 auto;
	padding: 20px 20px 0 20px;
}

.contact {
	width: 100%;
	background-color: #FFFFFF;
	padding: 20px 0 50px;
	margin: 0 auto;
}

.googlemap iframe {
	display: block;
}

.contact h2 {
	color: #000000;
}

.contact p {
	font-size: 15px;
	line-height: 2;
}

footer {
	width: 100%;
	color: #FFFFFF;
	background: #02111B;
	margin: 0 auto;
	padding: 7px 0;
}

footer p {
	font-size: 10px;
	text-transform: uppercase;
}

/* MEDIA CALLS */

@media (max-width: 768px) {
	.artistImage {
		float: none;
		border-radius: 0;
	}

	h2 {
		font-size: 50px;
		letter-spacing: 1px;
	}

	h3, h4, h5 {
		text-align: center;
		position: relative;
	}

	h3 {
		top: -70px;
		font-size: 45px;
	}

	h4 {
		top: -125px;
	}

	h5 {
		top: -130px;
	}

	.headerNav {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		width: 350px;
		height: 430px;
	}

	.headerNav img {
		border: 20px solid #333234;
		padding-bottom: 20px;
	}

	.headerNav:hover .navMenu {
		display: none;
	}

	.headerNav i {
		display: none;
	}

	.artistDesription {
		top: -125px;
	}

	.artistWrapper {
		padding: 0 10px 0 10px;
	}

	.artistWrapper iframe {
		top: -120px;
		max-width: 340px;
	}

	p {
		font-size: 13px;
	}

	.consulting img {
		width: 30%;
	}
}



/*
animation made by Justin Aguilar

www.justinaguilar.com/animations/

Questions, comments, concerns, love letters:
justin@justinaguilar.com
==============================================
*/

.floating{
	animation-name: floating;
	-webkit-animation-name: floating;

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes floating {
	0% {
		transform: translateY(0%);	
	}
	50% {
		transform: translateY(8%);	
	}	
	100% {
		transform: translateY(0%);
	}			
}

@-webkit-keyframes floating {
	0% {
		-webkit-transform: translateY(0%);	
	}
	50% {
		-webkit-transform: translateY(8%);	
	}	
	100% {
		-webkit-transform: translateY(0%);
	}			
}
